<form class="{{cssClass}}" autocomplete="off">
    {{> monsterHeader}}

    <div class="tabbed-content">
        <div class="tabs" data-group="primary">
            <a data-tab="statistics" data-tooltip="{{localize 'aoa.statistics'}}"><i class="fa-solid fa-list"></i></a>
            <a data-tab="description" data-tooltip="{{localize 'aoa.description'}}"><i class="fa-solid fa-book-open-cover"></i></a>
        </div>
        <div class="tab-content">
            <div class="tab" data-tab="statistics" data-group="primary">{{> monsterStatistics}}</div>
            <div class="tab" data-tab="description" data-group="primary">{{> monsterDescription}}</div>
        </div>
    </div>
</form>
