.aoa-sheet {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-family: var(--font-primary);
    font-size: var(--font-size-16);
    font-weight: bolder;
    gap: 0.2em
}

.aoa-sheet.item-sheet .item-content {
    overflow-x: hidden;
    overflow-y: auto;
}

.aoa-sheet i.gray-out {
    color: darkgray;
    opacity: 30%;
}

.aoa-sheet label {
    font-variant: small-caps;
    text-shadow: 0 0 1px black;
}



.aoa-sheet .editable-list label {
    text-shadow: unset;
}

.aoa-sheet select option, .aoa-sheet select optgroup {
    font-weight: bolder;
    background: var(--sheet-light-accent);
    letter-spacing: 0.15em;
}

.aoa-sheet h1,
.aoa-sheet h2,
.aoa-sheet h3,
.aoa-sheet h4,
.aoa-sheet h5,
.aoa-sheet h6 {
    font-family: var(--font-accent);
    border: none;
    margin: 0;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.1em;
    line-height: 2em;
}

.aoa-sheet h1 {
    font-size: var(--font-size-18);
}

.caps {
    color: darkred;
}

.move-up {
    position: relative;
    top: -0.5em;
}

.aoa-sheet h1 .move-up {
    text-decoration: 2px underline darkred;
}

.aoa-sheet h2 {
    font-size: var(--font-size-14);
}

.aoa-sheet h3 {
    font-size: var(--font-size-13);
}

.aoa-sheet input {
    background: var(--sheet-light-accent);
    border: none;
    border-bottom: 1px solid var(--sheet-dark-accent);
    border-radius: 0;
    color: darkblue;
    font-family: var(--font-hand);
    font-weight: bolder;
    text-indent: 0.1em;
    letter-spacing: 0.15em;
    font-variant: small-caps slashed-zero;
    height: var(--form-field-height);
}

.aoa-sheet label.checkbox {
    height: unset;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.2em;
    font-size: var(--font-size-16);
}

.dialog .aoa-sheet label.checkbox {
    flex-direction: column-reverse;
    gap: 0;
    flex-wrap: nowrap;
    flex: 1;
}

.dialog .aoa-sheet .saves {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.4em;
    text-align: center;
}

.aoa-sheet label.checkbox input {
    top: -2px;
}


.aoa-sheet input:hover:not(:disabled) {
    background: var(--sheet-highlight);
}

.aoa-sheet input[type="text"][data-dtype="Number"] {
    text-align: center;
}

.aoa-sheet input:disabled:hover {
    border-bottom: 1px solid var(--sheet-dark-accent);
    box-shadow: initial;
    outline: initial;
    cursor: default;
}

.aoa-sheet select,
.aoa-sheet textarea {
    border: none;
    border-bottom: 1px solid var(--sheet-dark-accent);
    border-radius: 0;
    background: var(--sheet-light-accent);
    color: darkblue;
    font-family: var(--font-hand);
    font-weight: bolder;
    text-indent: 0.1em;
    height: var(--form-field-height);
    letter-spacing: 0.15em;
    font-variant: small-caps;
}

.aoa-sheet select {
    padding: 0;
}

.aoa-sheet textarea:read-only {
    cursor: default;
}

.aoa-sheet textarea {
    font-size: inherit;
    line-height: 1;
    overflow-y: hidden;
}

.aoa-sheet a {
    display: inline-block;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.aoa-sheet a:hover:not(.disabled) {
    text-shadow: 0 0 1px black,
            0 0 6px darkred;
    transform: scale(1.2);
}

.aoa-sheet div.hand-written a:hover:not(.disabled) {
    text-shadow: 0 0 6px darkred;
}

.aoa-sheet a.disabled {
    color: darkgray;
    pointer-events: none;
}

.aoa-sheet .tabs a {
    transform-origin: 0 50%;
    transition: transform 0.5s ease,
    color 0.5s ease;
}

.aoa-sheet .tabs a.active {
    transform: scale(1.5);
    color: darkred;
}

.aoa-sheet .tabs a.active:hover {
    text-shadow: none;
}

.aoa-sheet .coins {
    background: var(--sheet-light-accent);
    border-bottom: 1px solid var(--sheet-dark-accent);
    align-items: center;
    font-family: var(--font-hand);
    font-weight: bolder;
    font-variant: small-caps;
    letter-spacing: 0.15em;
    color: darkblue;
    padding: 0 1.2em;
    gap: 0.2em;
}

.aoa-sheet .coins label {
    text-shadow: unset;
}

.aoa-sheet .coins [type="text"][data-dtype="Number"] {
    flex-basis: 4em;
    background: transparent;
    border: none;
    text-align: right;
}

.aoa-sheet .coins.flexrow > * {
    display: inline-flex;
    align-items: baseline;
    gap: 0.4em;
    flex: 0;
}

.aoa-sheet option:checked {
    background: var(--sheet-light-green-accent);
}

.aoa-sheet .description-editor .caps {
    color: darkblue;
    font-size: 150%;
    text-decoration-color: darkblue;

}

.aoa-sheet .description-editor .move-up {
    position: relative;
    top: 0;
    text-decoration-color: darkblue;
}

.aoa-sheet .prosemirror .editor-container {
    margin: 0.5rem 0;
}

.aoa-sheet a i, .aoa-sheet a span {
    transition: 500ms ease;
    transform-origin: 50% 50%;
}

.aoa-sheet a:hover i:not(.fa-dice-d20) {
    transform: scale(1.1);
}

.aoa-sheet .section-border-horizontal {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: var(--section-border);
    border-image-source: url(../assets/line-horizontal-normal.png);
    border-image-repeat: stretch;
    border-image-slice: 3;
}

.aoa-sheet .section-border-vertical {
    border-top: 0;
    border-left: 0;
    border-right: var(--section-border);
    border-bottom: 0;
    border-image-source: url(../assets/line-vertical-normal.png);
    border-image-repeat: stretch;
    border-image-slice: 3;
}

.aoa-sheet .section-border-horizontal.top {
    border-bottom: none;
    border-top: var(--section-border);
}

.aoa-sheet input[type="radio"],
.aoa-sheet input[type="checkbox"] {
    width: var(--font-size-16);
    font-family: var(--font-awesome);
    vertical-align: middle;
    appearance: none;
    background: transparent;
    border: none;
    align-items: center;
    display: inline-flex;
}

.aoa-sheet input[type="checkbox"] {
    width: var(--font-size-18);

}

.aoa-sheet input[type="radio"]:checked {
    width: var(--font-size-20)
}

.aoa-sheet input[type="radio"]:hover:not(:disabled),
.aoa-sheet input[type="checkbox"]:hover:not(:disabled) {
    background: transparent;
}

.aoa-sheet input[type="radio"]::before {
    content: "\f111";
    vertical-align: middle;
    font-size: var(--font-size-16);
    color: var(--sheet-green-accent);
    font-weight: normal;
    cursor: pointer;
    text-shadow: 1px 1px 2px darkgray;
}

.aoa-sheet input[type="radio"]:checked::before {
    content: "\f057";
    font-size: var(--font-size-20);
    vertical-align: middle;
    color: var(--sheet-green-accent);
    font-weight: bold;
    cursor: default;
}

.aoa-sheet input[type="checkbox"]::before {
    content: "\f0c8";
    font-family: var(--font-awesome);
    vertical-align: middle;
    color: var(--sheet-green-accent);
    font-size: var(--font-size-18);
    font-weight: normal;
    cursor: pointer;
    text-shadow: 1px 1px 2px darkgray;
}

.aoa-sheet input[type="checkbox"]:checked::before {
    content: "\f14a";
    font-family: var(--font-awesome);
    vertical-align: middle;
    color: var(--sheet-green-accent);
    font-size: var(--font-size-18);
    font-weight: bold;
    cursor: pointer;
}

.aoa-sheet input[type="radio"]:checked,
.aoa-sheet input[type="checkbox"]:checked {
    -webkit-filter: unset;
}

.aoa-sheet .subsection {
    margin-left: 0.5em;
    padding-left: 0.5em;
    border-left: 1px solid var(--sheet-dark-accent);
}

.aoa-sheet #difficulty {
    padding: 0.4em 0;
}
