@import "variables.css";
@import "animate.min.css";
@import "fonts.css";
@import "simple-calendar.css";
@import "editable-list.css";
@import "pause.css";
@import "journal.css";
@import "chat.css";
@import "combat.css";
@import "aoa-sheet.css";
@import "lists.css";
@import "pc.css";
@import "monster.css";
@import "requester.css";
@import "gm-config-sheet.css";
@import "effects-panel.css";
@import "compendium-sidebar.css";

.chat-message .table-draw .table-results .table-result .result-text {
    line-height: 1.5em;
}

.flexrow.hidden.jump-to-bottom {
    display: none;
}

.encounter {
    background: rgba(0,0,0,0.1);
    padding: 0.5em;
}

.aoa.sheet.window-app .window-content, .aoa.sheet.window-app .dialog-content {
    --font-primary: var(--font-normal);
    background: url(../assets/paper.webp) repeat;
    width: 100%;
    height: 100%;
}

#ui-left {
    width: 160px;
}

#chat-log {
    flex: 0 1 auto;
}

#tooltip {
    text-align: left !important;
    font-family: 'Aquifer', sans-serif;
    background: linear-gradient(135deg, rgba(230, 255, 224, 0.65), rgba(255, 255, 255, 0.65) );
    border: none;
    backdrop-filter: blur(4px);
    box-shadow: none;
}

#tooltip > div {
    color: black;
    text-shadow: 0 0 1px black;
    backdrop-filter: none;
    background-color: transparent;
}

strong {
    text-shadow: 1px 0 0 var(--color-text-dark-primary); /* the textcolor */
    padding-right: 1px;
    letter-spacing: 1px;
}

.aoa.sheet.window-app.dialog .window-content {
    filter: sepia(0.1);
}

.aoa.sheet.dialog .aoa-sheet {
    padding: 0.4em 0.4em 1em;
}

.aoa.sheet.actor:not(.condensed):not(.monster) {
    min-height: 750px;
}

.aoa.sheet.actor.condensed {
    min-height: 470px;
}

.level-up {
    position: absolute;
    top: 0.5em;
    left: -1em;
}

.zero-quantity {
    text-decoration: 3px line-through wavy darkred;
}

.item-data {
    padding: 0.4em;
    display: flex;
    flex-direction: column;
}

.item-data {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.item-data .flexrow, .item-data .flexrow {
    align-items: center;
    gap: 0.4em;
    height: var(--form-field-height);
}

.equipped {
    opacity: 30%;
}

.flex-fill {
    flex: 1 1 auto;
}

.equipped.active {
    opacity: 100%;
}

a.disabled {
    opacity: 30%;
}


.pc-sheet .specials {
    padding: 0.4em;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pc-sheet .specials .knacks {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.sheet-header {
    display: flex;
    flex-direction: row;
    border-bottom: var(--section-border);
}

.sheet-header .information {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.sheet-header img {
    border: none;
    height: 100%;
    object-fit: contain;
}

.sheet-header .flexrow {
    gap: 0.2em;
}

.item-sheet .sheet-header {
    height: 100px;
}

.item-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.item-sheet .level-progression {
    width: 100%;
}

.item-sheet .level-progression table {
    flex: 1 1 100%;
    text-align: center;
}

.item-sheet .level-progression th {
    overflow-wrap: break-word;
    padding: 0.2em;
}

.item-sheet .level-progression table input {
    width: 100%;
    min-width: 4em;
    text-align: center;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.tabbed-content {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    align-items: flex-start;
    padding-left: 0.4em;
    overflow: hidden;
}

.tabbed-content .tabs {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-20);
    flex: 0 0 3em;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding-top: 1em;
    border-left: 3px solid black;
    border-image-source: url("../assets/line-vertical-normal.png");
    border-image-slice: 3;
    height: auto;
    margin-left: 0.4em;
}

.tab-content {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.aoa.sheet .tab[data-tab].active {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.item-sheet .description {
    width: 100%;
}

.description-editor {
    background: var(--sheet-light-accent);
    color: darkblue;
    font-family: var(--font-hand);
    font-variant: small-caps;
    letter-spacing: 0.15em;
    font-weight: bolder;
    text-indent: 0.1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.description-editor h1, .description-editor h2,
.description-editor h3, .description-editor h4,
.description-editor h5, .description-editor h6 {
    font-family: var(--font-hand);
    font-weight: bolder;
    letter-spacing: 0.15em;
    font-variant: none;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2em;
    text-decoration-color: darkblue;
}

.tab[data-tab="description"] .editor,
.tab[data-tab="biography"] .editor,
.tab[data-tab="notes"] .editor {
    height: 100%;
}

.tab[data-tab="description"] .editor.prosemirror,
.tab[data-tab="notes"] .editor.prosemirror,
.tab[data-tab="biography"] .editor.prosemirror {
    height: 100%;
}

.ability-list .editor {
    height: 8em;
}

.ability-list .editor.prosemirror {
    height: 8em;
}

.locked .editor:hover .editor-edit {
    display: none;
}

.locked .new-ability {
    display: none;
}

.class-abilities {
    display: flex;
    flex-direction: row;
    gap: 0.4em;
    border-bottom: var(--section-border);
    padding: 0.4em;
}

.class-traits {
    padding: 0.4em;
}

.class-abilities .ability {
    flex: 0.5;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.class-abilities .ability:last-child {
    flex: 2;
}


.used-spells {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
}

.used-spells label {
    white-space: nowrap;
}

.relative {
    position: relative;
}

.darkgreen {
    color: darkgreen;
}

.darkred {
    color: darkred;
}

.text-centered {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-indent {
    text-indent: 2em;
}

.text-form-field {
    height: var(--form-field-height);
    line-height: var(--form-field-height);
}

.justify-start {
    display: flex;
    justify-content: flex-start;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.text-left {
    text-align: left;
}

.nowrap {
    flex-wrap: nowrap;
}

.text-shadow {
    text-shadow: 0 0 1px black;
}

li.scene.nav-item a.scene-name {
    font-weight: bolder;
}

#navigation #scene-list .scene.view {
    background-color: var(--color-shadow-highlight);
}

