.aoa-chat .dice-total.success {
    background-color: palegreen;
    border-color: green;
    color: black;
}

.aoa-chat .dice-total.failure {
    background-color: salmon;
    border-color: red;
    color: black;
}

.aoa-chat .dice-total .offset {
    font-size: 70%;
}

.chat-message {
    background: url(../assets/parchment.jpg) repeat;
    font-family: 'Aquifer', serif;
    font-weight: bolder;
}

.high .dice-tooltip .dice-rolls .roll.max {
    color: darkgreen;
    filter: sepia(0.5) hue-rotate(60deg);
}

.high .dice-tooltip .dice-rolls .roll.min {
    color: darkred;
    filter: sepia(0.5) hue-rotate(-60deg);
}

.low .dice-tooltip .dice-rolls .roll.min {
    color: darkgreen;
    filter: sepia(0.5) hue-rotate(60deg);
}

.low .dice-tooltip .dice-rolls .roll.max {
    color: darkred;
    filter: sepia(0.5) hue-rotate(-60deg);
}

.aoa-chat .actor-name {

}

#chat-log h1, #chat-log h2, #chat-log h3, #chat-log h4, #chat-log h5, #chat-log h6{
    font-variant: small-caps;
    border-bottom: none;
    font-weight: bold;
    text-decoration: 2px underline darkred;
    text-underline-offset: 0.2em;
}

#chat-log .message-sender {
    text-decoration: none;
}

.aoa-chat .header {
    border-bottom: 1px solid darkred;
}

.aoa-chat .description {
    background: var(--sheet-dark-accent);
    padding: 1px 0.4em;
}

.aoa-chat .description strong,
#chat-log .chat-message.message .message-content p strong {
    background: var(--text-strong);
    /*z-index: 1;*/
}

/*.aoa-chat .description strong:before,
#chat-log .chat-message.message .message-content p strong:before {
    content: "";
    position: absolute;
    left: 50%;
    width: 100%;
    height: 80%;
    transform: skew(-12deg) translateX(-50%);
    background: var(--text-strong);
    z-index: -1;
}*/

.aoa-chat .description .inline-roll {
    padding: 0;
    border: none;
    background: inherit;
}
