.aoa-chat .dice-total.success {
    background-color: palegreen;
    border-color: green;
    color: black;
}

.aoa-chat .dice-total.failure {
    background-color: salmon;
    border-color: red;
    color: black;
}

.aoa-chat .dice-total .offset {
    font-size: 70%;
}

.chat-message {
    background: url(../assets/parchment.jpg) repeat;
    font-family: 'Aquifer', serif;
    font-weight: bolder;
    text-shadow: 0 0 black;
}

.chat-message .message-content > strong {
    background-color: var(--text-strong);
}

.high .dice-tooltip .dice-rolls .roll.max {
    color: darkgreen;
    filter: sepia(0.5) hue-rotate(60deg);
}

.high .dice-tooltip .dice-rolls .roll.min {
    color: darkred;
    filter: sepia(0.5) hue-rotate(-60deg);
}

.low .dice-tooltip .dice-rolls .roll.min {
    color: darkgreen;
    filter: sepia(0.5) hue-rotate(60deg);
}

.low .dice-tooltip .dice-rolls .roll.max {
    color: darkred;
    filter: sepia(0.5) hue-rotate(-60deg);
}

.aoa-chat .actor-name {

}

#chat-log div h1:not(.dice-total),
#chat-log div h2:not(.dice-total),
#chat-log div h3:not(.dice-total),
#chat-log div h4:not(.dice-total),
#chat-log div h5:not(.dice-total),
#chat-log div h6:not(.dice-total){
    font-variant: small-caps;
    border-bottom: none;
    font-weight: bold;
    text-decoration: 2px underline darkred;
    text-underline-offset: 0.2em;
    display: flex;
    align-items: baseline;
}

#chat-log .message-sender {
    text-decoration: none;
}

.aoa-chat .header {
    border-bottom: 1px solid darkred;
}

.aoa-chat .description {
    background: var(--sheet-dark-accent);
    padding: 1px 0.4em;
}

.aoa-chat .description strong,
#chat-log .chat-message.message .message-content p strong {
    background: var(--text-strong);
}

.aoa-chat .description .inline-roll {
    padding: 0;
    border: none;
    background: inherit;
}

#chat-log .heading {
    margin-bottom: 0.5em;
}
