#ui-bottom #effects-panel {
    height: auto;
    width: auto;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    left: 0;
    right: 0;
    pointer-events: none;
    font-family: var(--font-hand);
    padding: 0.2em;
}

#effects-panel .effect-item {
    position: relative;
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px solid white;
    pointer-events: all;
}

#effects-panel .effect-item.disabled {
    opacity: 0.3;
}

#effects-panel .effect-item span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: var(--font-size-18);
    text-shadow: 2px 2px 5px black;
}
