@font-face {
    font-family: 'Foxbot';
    src: url('../assets/fonts/Foxbot/foxbot.woff2') format('woff2'),
    url('../assets/fonts/Foxbot/foxbot.woff') format('woff');
}

@font-face {
    font-family: 'CrushYourEnemies';
    src: url('../assets/fonts/CrushYourEnemies/CrushYourEnemies_REGULAR.woff2') format('woff2'),
    url('../assets/fonts/CrushYourEnemies/CrushYourEnemies_REGULAR.woff') format('woff');
}

@font-face {
    font-family: 'ElementaryGothicBookhand';
    src: url('../assets/fonts/ElementaryGothicBookhand/Elementary_Gothic_Bookhand.woff2') format('woff2'),
    url('../assets/fonts/ElementaryGothicBookhand/Elementary_Gothic_Bookhand.woff') format('woff');
}

@font-face {
    font-family: 'EastAnglia';
    src: url('../assets/fonts/east_anglia/East_Anglia.woff2') format('woff2'),
    url('../assets/fonts/east_anglia/East_Anglia.woff') format('woff');
}

@font-face {
    font-family: 'Aquifer';
    src: url('../assets/fonts/aquifer/Aquifer.woff2') format('woff2'),
    url('../assets/fonts/aquifer/Aquifer.woff2') format('woff');
}

body {
    --font-hand: "Foxbot", "FontAwesome", serif;
    --font-accent: "EastAnglia";
    --font-normal: "Aquifer", "FontAwesome", serif;
}
