body {
    --sheet-dark-accent: rgba(0, 0, 0, 20%);
    --sheet-light-accent: rgba(255, 255 ,255 ,20%);
    --sheet-light-dark-accent: rgba(212, 222, 208, 0.2);
    --sheet-light-green-accent: rgba(212, 222, 208, 0.7);
    --sheet-green-accent: rgb(60, 86, 69, 0.7);
    --sheet-highlight: var(--sheet-light-green-accent);
    --text-strong: greenyellow;
    --section-border: 4px solid var(--sheet-dark-accent);

}



