<div class="list-row relative" style="gap: 0.2em; justify-content: flex-start">
    <i class="drag fa-solid fa-grip-vertical" draggable="true"></i>
<!--    <span><a data-action="equip" class="equipped {{#if system.equipped}}active{{/if}}"><i class="fa-solid fa-hand"></i></a></span>-->
    <span><a data-action="editItem" data-tooltip="{{localize "aoa.edit"}}"><i class="fa-solid fa-pen-to-square"></i></a></span>
    <div class="quantity {{#if (lt system.quantity.value 2)}}only-hover{{/if}}">
        <label for="system.quantity">{{localize "aoa.quantity"}}:</label>
        <input name="system.quantity" type="text" size="1" data-dtype="Number" value="{{system.quantity.value}}" data-property="system.quantity.value" min="1">
    </div>
    <input type="text" data-dtype="text" value="{{name}}" data-property="name">
</div>
