<div class="list-row relative">
    <i class="drag fa-solid fa-grip-vertical" draggable="true"></i>
    <input type="text" data-dtype="Number" value="{{numberFormat system.bonus sign=true decimals=0 }}" data-property="system.bonus">
    <input type="text" data-dtype="text" value="{{name}}" data-property="name">
</div>
