<div class="list-row relative">
    <i class="drag fa-solid fa-grip-vertical" draggable="true"></i>
    <span><a data-action="editItem" data-tooltip="{{localize "aoa.edit"}}"><i class="fa-solid fa-pen-to-square"></i></a></span>
    <input type="text" data-dtype="text" value="{{name}}" data-property="name">
</div>
<div class="list-row relative trait-detail description-editor" style="display: inline-block; height: auto; background: transparent;">
    {{{system.description}}}
</div>
