<div class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" alt="actor.img">
    <div class="information">
        <label for="name">{{localize "aoa.name"}}: </label>
        <input name="name" type="text" data-dtype="text" value="{{actor.name}}">
    </div>
</div>
