<div class="sheet-header section-border-horizontal">
    <a data-action="showArt"
       style="position: fixed; font-weight: bold;">
        <i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
    <img src="{{actor.img}}" data-edit="img" alt="actor.img">
    <a data-action="showEffects" style="position: fixed; font-weight: bold; right: 0.4em;">
        <i class="fa-solid fa-person-rays"></i>
    </a>
    <div class="information">
        <label for="name">{{localize "aoa.name"}}: </label>
        <input id="name" name="name" type="text" data-dtype="text" value="{{actor.name}}">
    </div>
</div>
