<div class="biography">
   <h1>{{localize "aoa.biography-header"}}</h1>
    {{editor actor.system.biography target='system.biography' class="description-editor" button=true
             editable=true engine='prosemirror'}}
</div>

