<div class="notes">
   <h1>{{localize "aoa.notes-header"}}</h1>
    {{editor actor.system.notes target='system.notes' class="description-editor" button=true
             editable=true engine='prosemirror'}}
</div>

