<div class="saves {{#if condensed}}section-border-horizontal{{/if}}">
    <h1>{{localize "aoa.saves.header"}}</h1>
    <div class="values">
        {{#if actor.system.class}}
            {{#each actor.system.saves as |save key|}}
                <div class="grid-item">
                    <div class="save" data-action-type="saves" data-action-key="{{key}}">
                        {{#with (combine 'aoa.saves.' key)}}
                            <label>{{localize string}}</label>
                        {{/with}}
                        <div class="flexrow">
                            <span class="save-value">{{#unless @root.limited}}<a data-action="roll"><i class="fa-solid fa-dice-d20"></i></a>{{/unless}}<span style="text-shadow: 0 0 1px black;">{{save}}+</span> </span>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/if}}

    </div>
</div>
