<div class="flexrow">
    <label for="ability">{{localize "aoa.ability"}}</label>
    <select class="text-centered" name="system.ability">
        {{#select system.ability}}
            <option value="cha">{{localize 'aoa.abilities.cha'}}</option>
            <option value="wis">{{localize 'aoa.abilities.wis'}}</option>
            <option value="int">{{localize 'aoa.abilities.int'}}</option>
        {{/select}}
    </select>
</div>
