<div class="flexrow">
    <label for="system.quantity.value">{{localize "aoa.quantity"}}</label>
    <input name="system.quantity.value" value="{{system.quantity.value}}" type="text" data-dtype="Number" min="{{system.quantity.min}}">
</div>
